.expense {
  max-width: 450px;
  margin: 0 auto 10px auto;
}

#expenseBtn {
  font-size: 0.75rem;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background: white;
  color: indianred;
  font-weight: 900;
}

@media only screen and (max-width: 1200px) {
  .expense {
    max-width: 90%;
  }
}
