.income {
  max-width: 450px;
  margin: 0 auto 10px auto;
}

#incomeBtn {
  font-size: 0.75rem;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background: white;
  color: teal;
  font-weight: 900;
}

@media only screen and (max-width: 1200px) {
  .income {
    max-width: 90%;
  }
}
